.body{
   margin: 0;
    padding: 0;
    }


#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    font-family: monospace;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 10px;
    position: fixed;
   
  }
.navbar li a:hover{
    border-bottom: 3px solid #FD7272;
   
}
.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial !important;
}
.carousel-caption h5{
    font-size: 42px;
    color: #fff;
}

.navbar-brand{
  font-family: 'Amiri', serif;
    font-size: 30px;
    padding: 50px;
    font-weight: 300;
      }
 .navbar-brand .highlight{
    font-family: cursive;
    font-size: 40px;
}
.nav-link{
    font-family: serif;
    font-size: 18px;
    color: black !important;
    float: right;
   font-weight: 400;
  
}
 
header .highlight, header .current a{
color: #FD7272;    
    font-size: 20px;
}
.nav-link :hover{
    color: #FD7272 !important;
    
    }
.active .nav-link{
   padding: 2px;
    color:black!important;     
}

.nav-item{
    display: inline;
  padding: 0 30px 0 30px;
    float: left;
}
.site-content{
    background-image: url(images/pic1.jpg);
    background-size: cover;
    background-size: 100% 100%;
    width: 100%;
    height: 650px;
    background-attachment: fixed;
  }

.social{
    font-family: monospace;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 600;
    
}
.social img{
    width: 40px;
    transform: 0 5s;
    padding: 5px;
}

.social img:hover{
    transform: translateY(-5px);
}
/*........about......*/
#about{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}
#about .btn{
    margin-top: 20px;
    margin-bottom: 50px;
}
.about-content{
    padding-top: 20px;
}


/*....cover photo...*/
#cover .covr-photo{
    background-attachment: fixed;
    background-size: fixed;
      background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}


/*...........services....*/
#services{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
    background-size: cover;
    background-position: center;
    color: #efefef!important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}
#services h1{
    text-align: center;
    color: 	#FFFFFF !important;
    padding border-bottom: 10px;
}
#services h1::after{
    content: '';
    background:  #FFFFFF;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.services{
    margin-top: 40px;
    
}
.icon{
    font-size: 40px;
    margin: 20px auto;
    padding: 10px;
    height: 80px;
    width: 80px;
    border: 3px solid #fff;
    border-radius: 50%;
    color: blue;
}
#services p  {
    font-size: 14px;
    margin-top: 20px;
    color: #ccc; 
}

.services .col-md-3:hover{
    background: #d500f9;
    cursor: pointer;
    transition: 0.7s;
}
.nav-link .fa{
    padding: 5px;
}

/*.....team....*/
#team{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555 !important;
}
#team h3::after{
    content: '';
    background: #d500f9;
    display: block;
    height: 3px;
    width: 130px;
    margin: 10px auto 5px;
}


.profile-pic .img-box img{
    filter: grayscale(1);
}
.profile-pic .img-box img:hover{
    filter: grayscale(0);
    cursor: pointer;
}


#team .fa{
    height: 25px;
    width: 25px;
    color: #007bff!important;
    background: #fff;
    padding: 4px;
    border-radius: 50%;
}
.img-box ul{
    padding: 15px 0;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
}

.img-box ul li{
    padding: 5px;
    display: inline-block;
}

.img-box:hover ul{
    opacity: 1;
}
.img-box ul, .img-box ul li{
    transition: 0.5s;
}

/*.....testmonial....*/
#testmonial{
   
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Crimson Text', serif;
}
#testmonial h1{
     text-align: center;
    color: chocolate !important;
    padding border-bottom: 10px;
}
#testmonial h1::after{
       content:  '';
    background: #d500f9 ;
    display: block;
    height: 3px;
    width: 170px;
    margin: 10px auto 5px;
}

#testmonial row{
    margin-top: 30px;
    
}
#testmonial p{
    padding: 50px;
}
.col-md-4{
    margin: 40px auto;
}
.profile{
    padding: 70px 10px 10px;
    background-color: #efefef;
}
.user{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.profile img{
    position: absolute;
    top: -60px;
    left: calc(50% - 60px)
 border:10px solid #fff;
        
}
.profile h3{
    font-size: 20px;
    margin-top: 15px;
    color: brown;
}

.profile:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.5s;
}


blockquote{
    font-size: 16px;
    line-height: 30px;
}
blockquote .fa{
    color: blue;
}


/*.....getting touch..*/
#contact{
 background: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777;
}
.contact-form{
    padding: 15px;
    
}
.form-control{
border-radius: 0!important;
    border: none;
    
}

::placeholder{
    color: #999!important;    
}

.follow{
    background: #fff;
    padding: 10px;
    margin: 15px;
}
.contact-info .fa{
    margin: 10px;
    color: #007bff;
    font-weight: bold;
}
/*...card...*/
@import url('https://fonts.googleapis.com/css?family=Cute+Font&display=swap');
.xop-section{
    max-width: 960px;
    margin: 0 auto;
    padding: 6% 2%;
}
.xop-grid{
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}
.xop-grid:after {
    clear: both;
}
.xop-grid:after, .xop-box:before {
    content: "";
    display: table;
}
.xop-grid li{
    width: 328px;
    height: 328px;
    display: inline-block;
    margin: 20px;
}
.xop-box{
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    -webkit-transition: 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
     -moz-transition:0.3s ease-in-out, -moz-transform 0.3s ease-in-out;
    transition:0.3s ease-in-out, transform 0.3s ease-in-out;
}

.xop-box:hover{
    transform: scale(1.05);
}
.xop-img-1{
    background: linear-gradient(rgba(0, 0, 0, 0.50),rgba(0,0,0,0.10)),
    url(images/cvr1.jpg);
}

.xop-img-2{
    background: linear-gradient(rgba(0, 0, 0, 0.50),rgba(0,0,0,0.10)),
    url(images/cvr2.jpg);
}
.xop-img-3{
    background: linear-gradient(rgba(0, 0, 0, 0.50),rgba(0,0,0,0.10)),
    url(images/cvr3.jpg);
}
.xop-img-4{
    background: linear-gradient(rgba(0, 0, 0, 0.50),rgba(0,0,0,0.10)),
    url(images/cvr4.jpg);
}
.xop-info {
    position: absolute;
    width: inherit;
    height: inherit;
}
.xop-info a:link{
    text-decoration: none;
}
.xop-info h3{
    font-family: 'Cute Font', cursive;
    font-weight: 400;
    color: #fff;
    font-size: 42px;
    margin: 0 30px;
    padding: 100px 0 0 0;
    line-height: 1.5;
    
}
.xop-info p{
   font-family: 'Cute Font', cursive;
    color: #fff;
}





.inner img{
    transition: all 1.5s ease;
}
.inner :hover img{
    transform: scale(1.5s);
}




footer{
    text-align: center;
    padding: 20px;
    background-color: brown;
    color: white;
    margin-top: 30px;
    font-family: serif;
    }

/*.....about...*/
#image img{
    width: 100%;
   margin-bottom: 60px;
}


/*....media....*/
@media (max-width:768px){
    
 header .navbar-brand   
    {
        float: none;
        text-align: center;
        width: 100%;
    }
    .navbar-toggler{
        display: inline-block;
        float: right !important;
    }
    iframe{
        width: 100%;
    }
    #about .h2 .p{
        text-align: center;
    }
   
    }
@media (max-width:360px){
    iframe{
        width: auto;
    }
    @media (max-width:1024px){
        iframe{
            width: 50% !important;
        }
    }
}
